.main-container {
    width: 90%;
    height: 1300px;
    margin: 10% auto;
    border: .1px solid rgb(189, 185, 185);
    border-radius: 5px;
    background-color: rgb(252, 246, 215)
}

.main-container__logo {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    width: 35%;
    margin-left: 30%;

}

.main-container__logo .img1 {
    margin-top: 20px;
    width: 100%;
    text-align: center;

}

.leyenda {
    margin: 50px 80px 0 80px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
}

.leyenda p {
    text-align: justify;
    height: auto;
}

.contenedor-birretes {
    height: 70%;
    max-height: 400px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.birretes1 {
    display: none;
}


.birrete {
    width: 20px;
    height: 60px;
    animation: maria 2.5s ease-out infinite alternate;
}

.birrete.a {
    animation-delay: .6s;
    margin-top: 80px;
    margin-left: 45%;
    position: absolute;
    transform: scale(2.5);
    
}

.birrete.b {
    animation-delay: .5s;
    position: absolute;
    margin-top: 50px;
    margin-left: -15%;
    transform: scale(2.5);
}

.birrete.c {
    animation-delay: .7s;
    margin-left: 0%;
    position: absolute;
    margin-top: 30px;
    transform: scale(2.5);
}

.birrete.d {
    animation-delay: .4s;
    margin-left: 18%;
    position: absolute;
    margin-top: 50px;
    transform: scale(2.5);
}

.birrete.e {
    animation-delay: .3s;
    margin-left: 30%;
    position: absolute;
    margin-top: 60px;
    transform: scale(2.5);

}


@keyframes maria {
    0% {
        transform: translate(25px, 5px) rotate(-30deg) scale(2.5);
    }
    
    100% {
        transform: translate(100px, -700px) rotate(300deg) scale(2.5);
    }
}

.c1 {
    width: 25px;
    height: 18px;
    background: rgb(67, 1, 61);
    transform-origin: 50% 50%;
    transform: rotate(28deg) skew(-45deg) scale(.8) translateX(-5px);
    border-bottom: 1.5px solid rgb(250, 200, 0);
    border-right: 2px solid rgb(250, 200, 0);
    border-radius: 1px 3px 1px 3px;
    color: white;
    font-size: .5em;
    text-align: center;
    position: relative;
    z-index: 3;
}

.c2 {
    width: 20px;
    height: 10.5px;
    border-left: 18px solid black;
    transform-origin: 0% 0%;
    transform: translate(3px, -8px) rotate(-18deg);
    border-radius: 0px 0px 0 0px;
    position: absolute;
    z-index: -1;
}

.c3 {
    width: 20px;
    height: 10px;
    border-left: 13px solid black;
    transform-origin: 0% 100%;
    transform: translate(-5px, -14px) rotate(28deg);
    border-radius: 0 0 0px 0;
    position: absolute;
    z-index: -1;
}

.c4 {
    width: 20px;
    height: 15px;
    border-right: 1px solid rgb(250, 200, 0);
    transform-origin: 100% 100%;
    transform: translateX(-2px) translateY(-10px);
    border-radius: 0 0 0px 0;
    z-index: 1;
}

.c5 {
    max-width: 2px;
    height: 2px;
    background: rgb(250, 200, 1);
    border-right: 15px solid rgb(200, 200, 0);
    transform-origin: 100% 100%;
    transform: translateX(2.8px) translateY(-14px) scaleX(.15);
    border-radius: 50%;
    z-index: 1;
}



.boton-play-pause{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#birrete-boton {
    font-size: 5rem;
    background-color: transparent;
    border: none;
}


.boton-play-pause p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    text-align: center;
}



.link-ceremonia{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;

}

.link-ceremonia a {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 50px;
    padding-right: 10px;
    text-decoration: none;
}